---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
  
    {% comment %} skip posts marked as draft {% endcomment %}
    {% if post.draft %}
        {% continue %}
    {% endif %}
  
    <article class="post">

      <h1>
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
        {% comment %} the emojis {% endcomment %}
        {% if post.moon %} 🌕 {% endif %}
        {% if post.map %} 🗺️ {% endif %}
        {% if post.football %} ⚽ {% endif %}
        {% if post.basketball %} 🏀 {% endif %}
        {% if post.videogame %} 🕹️ {% endif %}
        {% if post.photography %} 📷 {% endif %}
        {% if post.maths %} ✍️ {% endif %}
        {% if post.keyboard %} ⌨️ {% endif %}
        {% if post.finance %} 📈 {% endif %}
        {% if post.dog %} 🐾 {% endif %}
        {% if post.galaxy %} 🌌 {% endif %}
        {% if post.berry %} 🍓 {% endif %}
        {% if post.brick %} 🧱 {% endif %}
        {% if post.hot %} 🔥 {% endif %}
        {% if post.thumbsup %} 👍 {% endif %}
        {% if post.random %} 🔀 {% endif %}
        {% if post.new %} 🆕 {% endif %}
        {% if post.new %} 🆕 {% endif %}
      </h1>

        {% if post.tags.size > 0 %}
        <div>
          <ul class="tag_list_in_post">
            {% for tag in post.tags %}
            <a class="tag_list_link" href="{{ site.baseurl }}/tag/{{ tag }}/">{{ tag }}</a>
            {% endfor %}
          </ul>
        </div>
        {% endif%}
      
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <!--
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      -->
      
    </article>
  {% endfor %}
</div>
