a.tag_list_link{
  color:#888;
  font-size:18px;
  font-variant:small-caps;
  margin:0;
  padding: 0 6px;
  text-transform:lowercase;
  cursor:auto;
}

a.tag_list_link:hover{
  color:#444;
}

ul.tag_list_in_post{
  border-left:1px solid #bbb;
  display:inline;
  margin-left:15px;
  padding:0 0 0 10px;
}
 
#main_content ul.tag_list_in_post{
  padding-bottom:0;
}

ul.tags{	
  float:right;
  width:280px;	
}	

ul.tag_list{	
  margin-left:52px;	
  padding-bottom:20px;	
}
